UserAccountCreation/TryItPage/App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:33932/UserAccountCreationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:33932/UserAccountCreationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserAccountCreationnew_createUserAcc_InputMessage">
    <wsdl:part name="parameters" element="tns:createUserAcc" />
  </wsdl:message>
  <wsdl:message name="UserAccountCreationnew_createUserAcc_OutputMessage">
    <wsdl:part name="parameters" element="tns:createUserAccResponse" />
  </wsdl:message>
  <wsdl:message name="UserAccountCreationnew_retrieveUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:retrieveUserName" />
  </wsdl:message>
  <wsdl:message name="UserAccountCreationnew_retrieveUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:retrieveUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="UserAccountCreationnew">
    <wsdl:operation name="createUserAcc">
      <wsdl:input wsaw:Action="http://tempuri.org/UserAccountCreationnew/createUserAcc" message="tns:UserAccountCreationnew_createUserAcc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserAccountCreationnew/createUserAccResponse" message="tns:UserAccountCreationnew_createUserAcc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retrieveUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/UserAccountCreationnew/retrieveUserName" message="tns:UserAccountCreationnew_retrieveUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserAccountCreationnew/retrieveUserNameResponse" message="tns:UserAccountCreationnew_retrieveUserName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_UserAccountCreationnew" type="tns:UserAccountCreationnew">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUserAcc">
      <soap:operation soapAction="http://tempuri.org/UserAccountCreationnew/createUserAcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveUserName">
      <soap:operation soapAction="http://tempuri.org/UserAccountCreationnew/retrieveUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_UserAccountCreationnew" binding="tns:BasicHttpBinding_UserAccountCreationnew">
      <soap:address location="http://localhost:33932/UserAccountCreationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>